.input-text-state{
    position: relative; 
    display: inline-block;
}

.hover-edit{
    /* display: none; */
    scale: 0; 
    position: absolute; 
    top: -1em;
    right:-0.5em;
    background: white; 
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 5px;
    transition: 0.2s;
    padding: 2px; 
}

.input-text-state:hover .hover-edit {
    /* display: inline; */
    scale: 1;
}

.input-label{
    position: relative; 
}
.input-label>i{
    position: absolute; 
    right: 10px; 
    top: 1px;
}
.input-label>i:hover{
    color: blue;
    font-weight: bold;
}

.input-label>input {
    outline: none; 
    border: 1px solid transparent; 
    background: rgb(245, 239, 239);
    border-radius: 3px;
}
.input-label>input:active, .input-label>input:focus {
    border-color: blue;
}