@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color-fc:#008000;
    --current-col:#008000;
    /*Paragraph variables*/
    --p-text-ff:'Roboto';
    --p-text-fs:12px;
    --p-text-fw:400;
    --p-text-fi:normal;
    --p-text-fu:normal;
    --p-text-fc: #000;

    /*section header variables*/
    --header-text-ff:'inter';
    --header-text-fs:22px;
    --header-text-fw:700;
    --header-text-fi:normal;
    --header-text-fu:underline;
    --header-text-fc:#0000ff;

    /*name variables*/
    --name-ff:'Roboto';
    --name-fs:12px;
    --name-fw:400;
    --name-fi:normal;
    --name-fu:normal;
    --name-fc:#000;


    /*personal info variables*/
    --pi-text-ff:'Roboto';
    --pi-text-fs:12px;
    --pi-text-fw:400;
    --pi-text-fi:normal;
    --pi-text-fu:normal;
    --pi-text-fc:#000;


    /*sub-titles variables -- things like project titles*/
    --sh-text-ff:'Roboto';
    --sh-text-fs:16px;
    --sh-text-fw:700;
    --sh-text-fi:normal;
    --sh-text-fu:normal;
    --sh-text-fc:#000;


}

/*
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

.personalise-controls {
    width: 60%; 
    margin: 0 auto;
    justify-content: center;
}

.personalise-controls li {list-style-type: none;margin-right:0.5em}

.color-bar {
    position: relative;
}
.color-bar>.current-color {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 100%;
    left: 0;
    outline: none;
    border: none;
    background:var(--current-col) ;
}

.color-bar>label>input {
    position: absolute;
    width: 0%;
    height: 25px;
    top: 100%;
    left: 0;
    outline: none;
    border: none;
    visibility: hidden;
}


.btn-personalise {
    height: 20px;
    width: 20px;
    outline: none;
    border: none; 
    background: none;
}

.btn-personalise.active {
    box-shadow:  1px 1px 0 1px rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.15)
}


.p-text {
    font-family: var(--p-text-ff);
    font-size: var(--p-text-fs);
    font-weight: var(--p-text-fw);
    font-style: var(--p-text-fi);
    text-decoration: var(--p-text-fu);
    color: var(--p-text-fc);
}


.primary-color-text {
    color: var(--primary-color-fc);
}
.primary-color-bg {
    background: var(--primary-color-fc);
}
.website-btn {
    color: var(--pi-text-fc);
}

.header-text {
    font-family: var(--header-text-ff);
    font-size: var(--header-text-fs);
    font-weight: var(--header-text-fw);
    font-style: var(--header-text-fi);
    text-decoration: var(--header-text-fu);
    color: var(--header-text-fc);
}

.name {
    font-family: var(--name-ff);
    font-size: var(--name-fs);
    font-weight: var(--name-fw);
    font-style: var(--name-fi);
    text-decoration: var(--name-fu);
    color: var(--name-fc);
}

.pi-text {
    font-family: var(--pi-text-ff);
    font-size: var(--pi-text-fs);
    font-weight: var(--pi-text-fw);
    font-style: var(--pi-text-fi);
    text-decoration: var(--pi-text-fu);
    color: var(--pi-text-fc);
}

.sh-text {
    font-family: var(--sh-text-ff);
    font-size: var(--sh-text-fs);
    font-weight: var(--sh-text-fw);
    font-style: var(--sh-text-fi);
    text-decoration: var(--sh-text-fu);
    color: var(--sh-text-fc);
}